@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "rsuite/dist/rsuite.css";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Arial', sans-serif;
  /* Replace with your desired font stack */
}

body {
  margin: 0;
  background-color: rgb(226, 235, 232);
}


/* #root {
  padding: 10px;
} */