.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container input,
.login-form-container button {
  margin: 5px;
}
